@media (min-width:992px) {
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255,255,255,0.11);
  }
}

@media (min-width:992px) {
  .content-section {
    padding-top: 100px;
    padding-bottom: 200px;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

#mainNav .nav-link.active {
  outline: none;
  background-color: hsla(0,0%,100%,.3);
}

#mainNav.navbar-shrink {
  background-color: #3B3A82;
  box-shadow: 0 4px 4px rgba(45, 62, 80, 0.24);
  border: none;
}

#mainNav {
  background-color: #473882;
  border: none;
  box-shadow: 0 4px 4px rgba(45, 62, 80, 0.24);
}

@media (min-width: 768px) {
  #mainNav {
    font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}

.lebron-toggle {
  width: 100%;
}

.lebron-pic-container {
}

